body {
  margin: 0 10%;
  background-color: #000;
  color: #fff;
}

.top-wrapper {
  background-image: url(../images/top-wrapper-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  margin: 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.title {
  color: #fff;
  font-family: serif;
  letter-spacing: 2px;
  font-size: 4em;
  margin: 0;
  padding-top: 10%;
}

.intro-wrapper {
  margin-bottom: 10%;
}

.heading {
  font-family: serif;
  border-bottom: 2px solid #fff;
  margin: 10% 20%;
}

.intro-fast {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4%;
}

.intro-fast-img {
  width: 100%;
  height: auto;
}

.intro-right {
   width: 40%;
   margin: 0 5%;
}

.text-intro-fast {
  text-align: justify;
  letter-spacing: 2px;
  line-height: 220%;
}

.intros {
  display: flex;
  justify-content: space-around;
}

.intro {
  color: #fff;
}

.intro-1 {
  background-image: url(../images/intro-wrapper-img2.jpg);
  width: 40%;
  height: auto;
}

.intro-2 {
  background-image: url(../images/intro-wrapper-img3.jpg);
  width: 40%;
  height: auto;
}

.text-intro-content {
  padding: 20% 0;
  margin: 15%;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.3);
  letter-spacing: 1px;
}

.middle-top-wrapper {
  background-image: url(../images/middle-top-wrapper-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
  color: #fff;
  margin-bottom: 20%;
}

.sub-title {
  font-family: serif;
  font-size: 2em;
  letter-spacing: 2px;
  padding-top: 10%;
  padding-bottom: 5%;
}

.text-sub-title {
  padding: 0 15%;
  line-height: 220%;
  text-align: justify;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(25, 50, 108, 1);
  margin-bottom: 15%;
  color: #fff;
  height: 470px;
}

.content-1 {
  margin-bottom: 20%;
}

.content-2 {
  flex-direction: row-reverse;
}

.text-content {
  text-align: justify;
  letter-spacing: 1px;
  padding: 0 5%;
  line-height: 220%;
}

.content-img {
  width: 50%;
  height: auto;
  padding-bottom: 30%;
}

.items-wrapper {
  margin-bottom: 15%;
}

.items {
  display: flex;
  justify-content: space-around;
}

.item {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.item2 {
  margin: 0 2%;
}

.item1, .item3 {
  margin-top: 5%;
}

.item-img {
  width: 100%;
  height: auto;
}

.text-item {
  text-align: justify;
  padding: 0 3%;
  line-height: 200%;
}

footer {
  height: 100px;
  background-color: rgba(38, 80, 137, 1);
  margin-bottom: 5%;
}

.footer-title {
  line-height: 100px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
}
